.section {
  margin-top:3.7em;
  padding: 2em 0 2.5em;
  color: var(--text-light);
  background-image: url(../assets/images/background-chat.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
  text-align: center;
}

.title {
  font-size: 2em;
  margin: 0;
}

.subtitles {
  margin: 0;
}

@media (min-width: 1024px) {
  .section {
    margin-top: 3.5em;
  }
}
