.section {
  padding: 9em 1em;
  background-color: var(--text-light);
  height: 35vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.title {
  color: var(--text-dark);
  font-size: 2rem;
}

.categories {
  text-decoration: none;
}

.linkRrd {
  text-decoration: none;
  color: var(--text-intermediate);
}

.category {
  margin: 0;
  padding: 0.5em 0;
  text-align: start;
  font-weight: bold;
  text-transform: uppercase;
}

.category:hover {
  color: var(--background);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .category {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .section {
    height: 43vh;
  }
  .category {
    font-size: 1.1rem;
  }
}
