.section {
  align-items: center;
  background-image: url(../assets/images/background.webp) ;
  background-size: cover;
  background-position: unset;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text-intermediate);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  padding: 20px;
  z-index: 1;
}

.cover{
  background-color: rgba(255, 255, 255, 0.8);
  width: 100vw;
  height: 90vh;
  position: absolute;
  z-index: 0;
}

.title {
  font-family: 'Titles';
  font-size: 2rem;
  margin: 1em 0;
  z-index: 1;
}

.form {
  display: flex;
  flex-direction: column;
  width: 70vw;
  z-index: 1;
}

.button {
  margin-top: 1.5em;
  padding:1em;
  background-color: var(--text-intermediate);
  color: var(--text-light);
  font-family: 'Text';
  font-size: 1.4rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease
}

.button:hover {
  background-color: var(--background);
}