/* .pageContainer {
  background-color: #f7aef8;
}


@media screen and (min-width: 768px) {
  .loginform {
    padding: 40px;
  }

  .loginform h1 {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .loginform form {
    max-width: 400px;
  }
}

@media screen and (max-width: 767px) {
  .loginform {
    padding: 10px;
  }

  .loginform form {
    max-width: 300px;
    margin: 0 auto;
  }

  .loginform h1 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .loginform input {
    padding: 8px;
    margin-bottom: 8px;
  }

  .loginform button {
    padding: 8px;
  }
} */
