.section {
  height: 100vh;
  display: flex;
  align-items: center;
  background-image: url(../assets/images/background.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: var(--text-light);
}

.text {
  margin: 0 auto;
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 1);
}

.title {
  font-family: "Titles";
  margin: 0 auto;
  font-size: 2.5rem;
}

.subtitle {
  font-size: 1.2rem;
  margin: 0;
}

.buttoncontainer {
  display: flex;
  justify-content: center;
}

.button {
  margin-top: 1em;
  padding: 0.7em;
  background-color: var(--text-light);
  color: var(--background);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 2);
  font-family: "Text";
  font-size: 1.15rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.button:hover {
  background-color: var(--background);
  color: var(--text-light);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .title {
    font-size: 3.8rem;
  }

  .subtitle {
    font-size: 2rem;
  }

  .button {
    padding: 0.7em;
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .title {
    font-size: 3.4rem;
  }

  .subtitle {
    font-size: 1.7rem;
  }

  .button {
    padding: 0.7em;
    font-size: 1.3rem;
  }
}
