.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
}

.logo{
  text-decoration: none;
  font-family: 'Titles';
  color: var(--text-light);
  font-size: 1.5rem;
  margin: 0.5em;
}

.linkscontainer{
  margin: 0.5em;
  display: flex;
  width: 30vw;
  justify-content: space-around;
}

.navlink{
  text-decoration: none;
  color: var(--text-light);
}