@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.section {
  background-color: var(--background-cards);
  margin: 0;
}

.formComment {
  background-color: var(--background-cards);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.questionUser {
  margin: 0;
  padding: 3em 1em 1em;
  color: var(--text-light);
  font-size: 1.5rem;
}

.inputComment {
  background-color: var(--text-light);
  width: 90vw;
  height: 20vh;
  border-radius: 10px;
  padding: 1em;
  font-size: 1.2em;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  font-family: "Text";
}

.commentButtonContainer {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 1em 0 2em 0;
}

.countCharacters {
  color: var(--text-light);
  margin: 0;
}

.button {
  padding: 0.5em;
  background-color: var(--background);
  color: var(--text-light);
  font-family: "Text";
  font-size: 1.3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.button:hover {
  background-color: var(--background);
}

.commentSection {
  margin-top: 3em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  margin: 0 auto;
  color: var(--text-light);
  margin-bottom: 4em;
  font-size: 1.2rem;
  overflow: hidden;
  white-space: nowrap;
  animation: typing 4s steps(40, end) infinite;
}

.card {
  width: 80vw;
  margin: 1em;
}

.commentData {
  background-color: var(--text-light);
}

.commentText {
  word-wrap: break-word;
  word-break: break-all;
}

.emailContact {
  display: flex;
  justify-content: end;
  background-color: var(--text-intermediate);
  color: var(--text-light);
}

.emailDirect {
  text-decoration: none;
}

.container {
  position: relative;
  background: var(--text-light);
  height: 2vh;
}

.wave {
  position: absolute;
  height: 34px;
  width: 100%;
  background: var(--text-light);
  bottom: 0;
}

.wave::before,
.wave::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 60%;
}

.wave::before {
  width: 57%;
  height: 100%;
  background-color: var(--text-intermediate);
  right: 0%;
  top: 60%;
}
.wave::after {
  width: 50%;
  height: 100%;
  background-color: var(--text-light);
  left: -1.5%;
  top: 34%;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .inputComment {
    font-size: 1.5rem;
  }

  .commentsSection {
    justify-content: space-evenly;
  }

  .card {
    width: 45vw;
  }

  .commentText {
    height: 240px;
    display: flex;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .formComment {
    margin-bottom: 3em;
  }
  .questionUser {
    width: 90vw;
    text-align: center;
    padding-bottom: 1.5em;
  }

  .inputComment {
    width: 50vw;
    height: 30vh;
  }

  .commentButtonContainer {
    width: 15vw;
    flex-direction: column-reverse;
    margin: 0 1em;
  }

  .countCharacters {
    margin-top: 1em;
  }

  .button {
    padding: 0.7em;
  }

  .commentsSection {
    justify-content: space-evenly;
  }

  .card {
    width: 30vw;
  }

  .commentText {
    height: 280px;
    display: flex;
    align-items: center;
  }
}
