.section {
  margin-top: 3.5em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1em 1em 2.5em 1em;
  background-color: var(--text-light);
  height: auto;
}

.imagevideo {
  width: 90vw;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
}

.category {
  margin: 1em 0 0 0;
  color: var(--text-intermediate);
  text-align: center;
}

.title {
  text-align: center;
  color: var(--text-dark);
  margin: 1em 0 0 0;
}

.description {
  font-size: 1.1rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .section {
    margin-top: 4.5em;
  }

  .title {
    font-size: 1.9rem;
    padding: 0 1em;
  }

  .description {
    font-size: 1.5rem;
    padding: 0 1em;
  }
}

@media (min-width: 1024px) {
  .section {
    margin-top: 3.5em;
  }

  .imagevideo {
    width: 40vw;
  }

  .textContainer {
    width: 40vw;
  }
  .title {
    font-size: 1.4rem;
    padding: 0 1em;
    text-align: start;
  }

  .description {
    font-size: 1.2rem;
    padding: 0 1em;
  }
}
