/* footer.module.css */
.footer {
    background-color: #72ddf7; /* Color de fondo para el footer */
    color: #333; /* Color de texto para el footer */
    padding: 20px; /* Espaciado interno para el footer */
    text-align: center; /* Centramos el texto en el footer */
  }
  
  .footer h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
  }
  