/* navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px; /* Aumentamos el padding para dar más espacio en el Navbar */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%; /* Aumentamos el ancho al 100% para que ocupe toda la pantalla */
  z-index: 1000; /* Aseguramos que el Navbar esté en la parte superior */
}

/* Estilo para ocultar el Navbar al pasar la mitad de la página */
.navbar.hidden {
  transform: translateY(-100%);
}

.navbar h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
}

.navbar button {
  padding: 8px 16px;
  background-color: #fff;
  color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar button:hover {
  background-color: #f0f0f0;
}
