/* navbar.module.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.navbar h2 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

.navbar-buttons {
  display: flex;
  gap: 10px;
}

.navbar button {
  padding: 8px 16px;
  background-color: #fff;
  color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar button:hover {
  background-color: #f0f0f0;
}

/* Estilos adicionales para asegurar que el navbar esté siempre al final */
body {
  margin-top: 60px; /* Ajustamos el margen superior para separar el contenido del navbar */
  
}


