* {
  box-sizing: border-box;
}

:root {
  --background: #1282a2;
  --background-cards: #034078;
  --text-light: #fefcfb;
  --text-dark: #0a1128;
  --text-intermediate: #001f54;
}

@font-face {
  font-family: "Titles";
  src: url(./assets/fonts/Pacifico-Regular.ttf);
}

@font-face {
  font-family: "Text";
  src: url(./assets/fonts/JosefinSans-VariableFont_wght.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: "Text";
}
