* {
  box-sizing: border-box;
}

:root{
  --background: #1282A2;
  --background-cards:  #034078;
  --text-light: #FEFCFB;
  --text-dark: #0A1128;
  --text-intermediate: #001F54;
}

@font-face {
  font-family: 'Titles';
  src: url(./assets/fonts/Pacifico-Regular.ttf);
}

@font-face {
  font-family: 'Text';
  src: url(./assets/fonts/JosefinSans-VariableFont_wght.ttf);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Text';
}
